<style>

	h6{

	}

	.w3-top{



	}

		.navbar {

	      margin-bottom: 50px;

	      border-radius: 0;

	    }

	    	.navbar.navbar-inverse{

	    		background-color: white;

	    		border-color: white;

	    	}	    		
	    		.container-fluid{

	    			display: flex;
				    
				    flex-direction: row;
				    
				    justify-content: flex-start;
				    
				    align-items: center;
	    		}
	    			.navbar-header{

	    				margin-right: 15% !important;
	    			}

		    			.navbar-inverse .navbar-nav>li>a{

		    				color: black !important;

		    				font-size: 16px;

		    				font-weight: bold;

		    			}
		    				.navbar-brand{

		    					height: auto !important;
		    				}
		    					.navbar-brand img{

		    						height: auto;

		    						width: 20%;
		    					}
						    	.dropdown{

									position: relative;

								  	display: inline-block;

								}


								    .dropbtn {

									  	color: black;

										background-color: transparent;
									  	
									  	padding: 16px;

									  	font-size: 16px;

									  	font-weight: bold;

									  	border: none;

									  	line-height: 20px;
									}
									
									.dropdown-content {

									  	display: none;

									  	position: absolute;

									  	background-color: white;

									  	min-width: 160px;

									  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

									  	z-index: 1;

									  	text-decoration: none;

									  	width: 500px;

									}

									.dropdown-content a {

									  	color: black;

									  	padding: 12px 16px;

									  	text-decoration: none;

									  	display: block;

									}

									.dropdown-content a:hover {background-color: #ddd; text-decoration: none; color: black;}

									.dropdown:hover .dropdown-content {display: block;}

									.dropdown:hover .dropbtn {background-color: none;}
									

								.btn.btn-info.btn-lg{

									background-color: transparent;

									font-size: 16px;

								  	font-weight: bold;

								  	color: black;
								  	
								  	margin-top: 2px;

								  	border-color: white;

								}

					#myNavbar{

						width: 100%;
					}

	.header_background{



	}

		.container1{



		}

			.myCarousel{



			}

				.carousel-inner{



				}

					.item.active{
						
						background-position: center;

					  	background-size: cover;

					  	position: relative;


					}

						.item.active a img{

							margin-left: auto;

							margin-right: auto;

							width: 80%;

						}

					.one{

						background-image: url("./image/chuakeo1.jpg");

						background-position: center;

					  	background-size: cover;

					  	position: relative;

					}

					.two{

						background-image: url("./image/chuakeo2.jpg");

						background-position: center;

					  	background-size: cover;

					  	position: relative;


					}

						.item-two-img{

							


						}

					.three{

						background-image: url("./image/chuakeo3.jpg");

						background-position: center;

					  	background-size: cover;

					  	position: relative;


					}


	div.container2{



	}

		.wrapper{

		    max-width: 1200px;

		    text-align: center;

		    margin-left: auto;

		    margin-right: auto;


		}

			  	#logo {height: 80px; margin-left: 20px;}
								
				.parent {
			    width: 100%;
			    margin: 20px;
			    height: 300px;
			    
			    overflow: hidden;
			    position: relative;
			    float: left;
			    display: inline-block;
					cursor: pointer;
				}

				#parent1{

					height: 640px;
				}

				.child {
				    height: 100%;
				    width: 100%;
				    background-size: cover;
				    background-repeat: no-repeat;
				    -webkit-transition: all .5s;
				    -moz-transition: all .5s;
				    -o-transition: all .5s;
				    transition: all .5s;
				}

				/* Several different images */
				.bg-1 {background-image: url(../image/chuakeo16.jpg);}
				.bg-2 {background-image: url(../image/chuakeo17.jpg);}
				.bg-3-1 {background-image: url(../image/chuakeo18.jpg);}
				.bg-4 {background-image: url(../image/chuakeo10.jpg);}
				.bg-5 {background-image: url(../image/chuakeo12.jpg);}
				.bg-6 {background-image: url(../image/chuakeo13.jpg);}
				.bg-7 {background-image: url(../image/chuakeo11.jpg);}
				.bg-8 {background-image: url(../image/chuakeo14.jpg);}
				.bg-9 {background-image: url(../image/chuakeo15.jpg);}
				

				.child-text1{

					font-style: italic;
				    
				    font-size: 18px;
				    
				    color: #ffffff !important;
				    
				    font-family: sans-serif;
				    
				    text-align: center;
				    
				    margin: auto;
				    
				    position: absolute;
				    
				    top: 30%;
				    
				    left: 0;
				    
				    bottom: 0;
				    
				    right: 0;
				    
				    cursor: pointer;
				}
				

				.wrapper .parent .child a {
				    display: inline-block;
				    font-size: 23px;
				    color: #ffffff !important;
				    font-family: sans-serif;
				    text-align: center;
				    margin: auto;
				    position: absolute;
				    top: 0;
				    left: 0;
				    bottom: 0;
				    right: 0;
				    height: 50px;
				    cursor: pointer;
				    /*text-decoration: none;*/
				}

				.parent:hover .child, .parent:focus .child {
				    -ms-transform: scale(1.2);
				    -moz-transform: scale(1.2);
				    -webkit-transform: scale(1.2);
				    -o-transform: scale(1.2);
				    transform: scale(1.2);
				}

				.parent:hover .child:before, .parent:focus .child:before {
				    display: block;
				}

				.parent:hover a, .parent:focus a {
				    display: block;

				    text-decoration: none;
				}

				.child:before {
				    content: "";
				    display: none;
				    height: 100%;
				    width: 100%;
				    position: absolute;
				    top: 0;
				    left: 0;
				    background-color: rgba(52,73,94,0.75);
				}

				/* Media Queries */
				@media screen and (max-width: 960px) {
				    .parent {width: 100%; margin: 20px 0px}
						.wrapper {padding: 20px 20px;}
				}


				.hello {display: none}
    

    div.jumbotron {

      margin-bottom: 0;

      background-color: #eee0;



    }

    	.container-fluid.bg-3.text-center{



    	}

    		.row{



    		}

    			.col-sm-2{



    			}

    				.container.text-center{

    					border-right: #777777 dashed 1px;

    				}
    					.container.text-center.text-center1{

    					border-right: none;

    					}

    				.container.text-center h1{

    					font-size: 18px;

    				}

    				.container.text-center p{

    					font-size: 13px;

    					color: #777777;

    				}

    				.container.text-center p:last-child{

    					border-right: none;

    				}

    .title-container{

    	margin-bottom: 5%;

    	text-align: center;
    }
	    	.img-responsive{

	    		width:60%;

	    		margin-left: auto;
	    		
	    		margin-right: auto;
	    	}
	    .panel-footer1{

	    	text-align: center;
	    }
	    	.panel-footer1 a{

	    		color: #552d00;
	    	}
	    .panel-footer1-btn{

	    	margin-left: auto;

	    	margin-right: auto;
	    	
	    	display: grid;
	    }
	    	.btn.btn-link{

	    		margin-top: 10%;
	    	}
	    		.btn.btn-link a{

	    			margin-top: 16px;

	    			color: #552d00;
	    			
	    			font-size: 13px;
	    		}

    .container3{



	}

		.row-container3{

			display: flex;
		}

		.wrapper{

		    max-width: 1200px;

		    text-align: center;

		    margin-left: auto;

		    margin-right: auto;


		}

				.content2{

					position: relative;
				    min-height: 1px;
				    padding-right: 1px;
				    padding-left: 1px;

				}

			  	#logo {height: 80px; margin-left: 20px;}
								
				.parent {
				    width: 100%;
				    margin: 20px;
				    height: 300px;
				    
				    overflow: hidden;
				    position: relative;
				    float: left;
				    display: inline-block;
					cursor: pointer;
				}

				.child {
				    height: 100%;
				    width: 100%;
				    background-size: cover;
				    background-repeat: no-repeat;
				    -webkit-transition: all .5s;
				    -moz-transition: all .5s;
				    -o-transition: all .5s;
				    transition: all .5s;
				}

				.wrapper .parent .child a {
				    display: inline-block;
				    font-size: 23px;
				    color: #ffffff !important;
				    font-family: sans-serif;
				    text-align: center;
				    margin: auto;
				    position: absolute;
				    top: 0;
				    left: 0;
				    bottom: 0;
				    right: 0;
				    height: 50px;
				    cursor: pointer;
				    /*text-decoration: none;*/
				}

				.parent:hover .child, .parent:focus .child {
				    -ms-transform: scale(1.2);
				    -moz-transform: scale(1.2);
				    -webkit-transform: scale(1.2);
				    -o-transform: scale(1.2);
				    transform: scale(1.2);
				}

				.parent:hover .child:before, .parent:focus .child:before {
				    display: block;
				}

				.parent:hover a, .parent:focus a {
				    display: block;

				    text-decoration: none;
				}

				.child:before {
				    content: "";
				    display: none;
				    height: 100%;
				    width: 100%;
				    position: absolute;
				    top: 0;
				    left: 0;
				    background-color: rgba(52,73,94,0.75);
				}

				/* Media Queries */
				@media screen and (max-width: 960px) {
				    .parent {width: 100%; margin: 20px 0px}
						.wrapper {padding: 20px 20px;}
				}


				.hello {display: none}


	.content4{


		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/chuakeo2.jpg");

	  	height: 500px;

	  	background-position: center;

	  	background-repeat: no-repeat;

	  	background-size: cover;

	  	position: relative;

	}
		.col-sm-3-content4 h1{

			font-size: 36px;

			font-weight: bold;

			vertical-align: inherit;

			color: #fff;

			width: 470px;

			margin-top: 80px;

			margin-bottom: 20px;
		}

		.form-inline h5{

			color: #fff;

			line-height: 23px;
		}
			.form-control, #vehicle1{

				margin-bottom: 5%;
			}
			.btn.btn-danger{

				background-color: #552d00;

				border-color: #552d00;
			}
 
    footer {

      background-color: #f0ebe3;
      
      padding: 25px;
    }
    	.footer-text h4{

    		color: #777777;

    		text-align: left;

    		font-size: 15px;
    	}
    	.footer-text h5{

    		color: #777777;

    		text-align: left;

    		line-height: 23px;
    	}

.modal-backdrop{

	position: unset !important;
}

.solid{

  border-bottom: #eee solid 2px;

	margin-bottom: 2%;
}

		.fa {
		  	
	  	padding: 5%;
	  	
	  	font-size: 30px;
	  	
	  	width: 15%;
	  	
	  	text-align: center;
	  	
	  	text-decoration: none;
	  	
	  	margin: 1% 1%;
		}
		.fa-facebook {
		  	
	  	background: #3B5998;
	  	
	  	color: white;
		}

		.fa-twitter {
		  	
	  	background: #55ACEE;
	  	
	  	color: white;
		}

		.fa-google {
		  	
	  	background: #dd4b39;
	  	
	  	color: white;
		}

		.fa-youtube {
		  	
	  	background: #bb0000;
	  	
	  	color: white;
		}

		.footer-text1 a{

			text-decoration: none;

			color: black;
			
		}



@media screen and (max-width: 767px){

	.container-fluid{

		justify-content: space-between;
	}
		.navbar-header{

			margin-right: 0 !important;

			width: 100%;
		}
			.navbar-toggle{

				background-color: black !important;

				margin: 4% 0% !important;
			}


	.text-center{

		border-right: none !important;
	}


	.row-container3{

		flex-direction: column;
	}

	.row-container4{

		margin: 0 !important;
	}

	.content5{

		margin: 0 !important;
	}

}


@media screen and (min-width: 768px) and (max-width: 992px){

	.navbar-header{

		margin-right: 0 !important;

		width: 10%;
	}

	.navbar-brand img{

		width: 100%;
	}

	#navbar-brand1{

		display: none;
	}

	.jumbotron1{

		display: none !important;
	}

	.jumbotron2{

		width: 33% !important;
	}

	.row-container2{

		display: flex;

		flex-direction: column;

		align-items: center;
	}
		.col-container2{

			width: 100% !important;
		}
	.col-container3{

		width: 50% !important;
	}

	.row-container3{

		flex-direction: row;

		flex-wrap: wrap;
	}
		.col-container3-1{

			width: 60% !important;
		}
		.col-container3-2{

			width: 40% !important;
		}
		.parent{

			margin-bottom: 0;
		}
		.col-container3-3{
			width: 100% !important;
		}
	.col-title-container{

		width: 50% !important;
	}
	.content4{

		margin-left: auto;

    margin-right: auto;

    padding-left: 15px;

    padding-right: 15px;
	}
		.col-sm-3-content4{

			width: 100% !important;

	    margin: 5% 0 5% 2%;
		}
		.col-sm-3-content4-1{

			display: none;
		}

	.footer-textt{
		display: none;
	}
	.footer-text{

		width: 50% !important;
	}
		.footer-text-1{

			margin-bottom: 10%;
		}
		.footer-text1{

			margin-left: 5%;

			width: 95% !important;
		}

		.fa{

			padding: 3%;

			width: 10%;
		}

}


</style>